/*
 * Author : Alexander Perlock + Ekaterina Uhalova
 * MACID : perlocka + uhalovae
 * Date Created : 04 02 26
 * Date Modified : 19 02 26
 * 
 * For center clicker element
 */

#clicker {
    order: 1;
    /* width: 50%; */
    /* border: 1px solid black; */
    /* height: 98vh; */
    /* background-color:  rgb(177, 203, 213); */
    background-image: linear-gradient(rgb(15, 104, 105), rgb(177, 203, 213));
    border-radius: 10px;
    flex: 2;
}

#clickme {
    /* height: 70%; */
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#clickme img {
    /* flex: 1; */
    /* max-width: 500px; */
    /* align-self: center; */
    width: 100%; 
    max-width: 500px;
    height: auto;
    object-fit: cover; 
    /* border: 1px solid red; */
}

 .duck-title {
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
     color: rgb(255, 223, 15);
     text-align: center;
     font-size: 60px;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-weight: bolder;
     /* border: 2px solid #b58e62; */
     /* background-color: rgba(15, 104, 105, 0.528); */
 }

 #scoreboard-values {
    text-align: center;
    padding-top: 40px;
    list-style-type: none;
    font-size: larger;
    font-weight: bold;
}

.base-img {
    cursor: pointer;
}

.base-img:active {
    transform: scale(0.97);
    transition: transform 0.1s ease; 
}
