/*
 * Author : Alexander Perlock + Ekaterina Uhalova
 * MACID : perlocka + uhalovae
 * Date Created : 04 02 26
 * Date Modified : 04 02 26
 * 
 * Global format
 */

@import "./colors.css";
@import "./clicker.css";
@import "./rewards.css";
@import "./store.css";

* {
    margin: 0;
    padding: 0;
}

#content {
    display: flex;
    height: 97vh;
    margin: 0.5%;
    gap: 7px;
}
.title {
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    position: sticky;
    top: 0%;
    background-color: var(--bg-color);
}

#scoreboard-values {
    text-align: right;
    padding: 5px;
    list-style-type: none;
}



/* Phone */
@media (max-width:479px) {

}

/* Tablet */
@media (min-width:480px) and (max-width:767px) {
    
}

/* PC */
@media (min-width:768px) {

    body {
        background-color: rgb(107, 55, 24);
    }

    #clicker,
    #store, 
    #rewards {
        /* background-color: white; */
        border-radius: 10px;
    
    }

    #store {
        background-color: rgb(107, 55, 24);
    }

    /* #score {
        background-color: rgba(173, 216, 231, 0.837);
    } */

    /* #score {
        color: red;
        border-radius: 7px;
    } */

    .title {
        /* background-color: rgba(158, 72, 22, 0.736); */
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        color: rgb(15, 103, 105);
    }

    .duck-title {
        background-color: rgba(158, 72, 22, 0.736);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        color: yellow;
        text-align: center;
    }

    #content {
        padding: 5px;
    }
    #store li {
        background-color: white;
        border-radius: 7px;
    }
}