/*
 * Author : Alexander Perlock + Ekaterina Uhalova
 * MACID : perlocka + uhalovae
 * Date Created : 04 02 26
 * Date Modified : 04 02 26
 * 
 * For left store element
 */
#store {
    order: 0;
     width: 25%;
}

#store, #rewards {
    height: 98vh;
    overflow-y: auto;
}

/* #store li {
    padding: 0;
    margin: 0;

    padding-top: 10%;
    padding-bottom: 10%;
    margin-top: 2%;
    margin-bottom: 2%;

    list-style-type: none;

    border: 1px solid black;
}

#store li > .name {
    text-align: center;
} */

#store button {
    padding: 0;
    margin: 0;

    padding-top: 10%;
    padding-bottom: 10%;
    margin-top: 2%;
    margin-bottom: 2%;

    list-style-type: none;

    width: 100%;

    border: 1px solid black;
}

#store button > .name {
    text-align: center;
}